<ng-container *ngIf="infos.length">
  <div class="alert alert-info" role="alert" *ngFor="let info of infos">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{info}}
  </div>
</ng-container>
<ng-container *ngIf="errors.length">
  <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{error}}
  </div>
</ng-container>
