<header>
  <nav>
    <div class="nav-wrapper container">
      <a routerLink="/" class="brand-logo">Air Mom & Baby</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/aboutus">About us</a></li>
        <li><a routerLink="/signup" *ngIf="!hasLoggedIn">Sign up</a></li>
        <li><a routerLink="/login" *ngIf="!hasLoggedIn">Log in</a></li>
        <li><a routerLink="/slots" *ngIf="isProvider">Slots</a></li>
        <li><a routerLink="/slots/bookings" *ngIf="isProvider">Bookings</a></li>
        <li><a routerLink="/bookings" *ngIf="isConsumer">Bookings</a></li>
        <li><a routerLink="/transactions" *ngIf="hasLoggedIn">Transactions</a></li>
        <li><a routerLink="/profile" *ngIf="hasLoggedIn">Profile</a></li>
        <li><a (click)="logout()" *ngIf="hasLoggedIn">Sign out</a></li>
        <li><a (click)="changeRole('provider')" *ngIf="isConsumer">Switch to provider</a></li>
        <li><a (click)="changeRole('consumer')" *ngIf="isProvider">Switch to consumer</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdownLanguage">Language<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <ul id="dropdownLanguage" class="dropdown-content">
      <li><a href="#!">English</a></li>
      <li><a href="#!">中文（简体）</a></li>
      <li><a href="#!">日本語</a></li>
    </ul>
</header>
