<!-- <ul id="dropdownLanguage" class="dropdown-content">
  <a href="#!">English</a>
  <a href="#!">中文（简体）</a>
  <a href="#!">日本語</a>
</ul> -->

<mat-nav-list>
  <mat-list-item>
    <a matLine routerLink="/aboutus">About us</a>
  </mat-list-item>
  <mat-list-item *ngIf="!hasLoggedIn">
    <a matLine routerLink="/signup">Sign up</a>
  </mat-list-item>
  <mat-list-item *ngIf="!hasLoggedIn">
    <a matLine routerLink="/login">Log in</a>
  </mat-list-item>
  <mat-list-item *ngIf="isProvider">
    <a matLine routerLink="/slots">Slots</a>
  </mat-list-item>
  <mat-list-item *ngIf="isProvider">
    <a matLine routerLink="/slots/bookings">Bookings</a>
  </mat-list-item>
  <mat-list-item *ngIf="isConsumer">
    <a matLine routerLink="/bookings">Bookings</a>
  </mat-list-item>
  <mat-list-item *ngIf="hasLoggedIn">
    <a matLine routerLink="/transactions">Transactions</a>
  </mat-list-item>
  <mat-list-item *ngIf="hasLoggedIn">
    <a matLine routerLink="/profile">Profile</a>
  </mat-list-item>
  <mat-list-item *ngIf="isConsumer">
    <a matLine (click)="switchToProvider()">Switch to provider</a>
  </mat-list-item>
  <mat-list-item *ngIf="isProvider">
    <a matLine (click)="switchToConsumer()">Switch to consumer</a>
  </mat-list-item>
  <mat-list-item *ngIf="hasLoggedIn">
    <a matLine (click)="logout()">Sign out</a>
  </mat-list-item>
</mat-nav-list>
