<div class="container">
  <div class="row">
    <div class="col-4 p-2" *ngFor="let slot of slots">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{slot.title}}</h4>
        </div>
        <img class="card-img-top" [src]="slot.avatarUrl" alt="Slot photo">
        <div class="card-block">
          <p class="card-text">{{slot.text}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Time: {{slot.start | date:'short'}} - {{slot.end | date:'short'}}</li>
          <li class="list-group-item">Age: {{slot.ageFrom}} - {{slot.ageTo}}</li>
          <li class="list-group-item">Gender: {{displayGender(slot.gender)}}</li>
          <li class="list-group-item">{{slot.otherCondition}}</li>
          <li class="list-group-item">Price: {{slot.price | currency}} per unit</li>
        </ul>
        <div class="card-block">
          <a href="#" class="btn btn-primary" (click)="seeDetail(slot.id)">See Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
