<amb-header></amb-header>
<div class="container">
  <div class="row">
    <h1>Consumer workbench</h1>
  </div>
  <div class="row mt-2">
    <ngb-tabset>
      <ngb-tab title="Bookings">
        <ng-template ngbTabContent>
          <amb-slot-list [slots]="slots"></amb-slot-list>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="My babies" *ngIf="hasLoggedIn">
        <ng-template ngbTabContent>
          <ng2-smart-table [settings]="babyProfileSettings" [source]="babyProfiles"  class="table table-striped"
          (createConfirm)="onCreate($event)"
          (editConfirm)="onEdit($event)"
          (deleteConfirm)="onDelete($event)"
          ></ng2-smart-table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
