<div class="container">
  <h1>{{(isNew ? "Add baby profile" : "Edit baby profile") | translate}}</h1>
  <form #theForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="container">
        <div class="row">
          <div class="col s12 l4">
            <mat-form-field>
              <input matInput placeholder="{{'Nick name' | translate}}" [(ngModel)]="model.nickName" name="nickName" required>
            </mat-form-field>
          </div>
          <div class="col s12 l4">
            <amb-datepicker placeholder="{{'Date of birth' | translate}}" [(value)]="model.dob" [required]="true"></amb-datepicker>
          </div>

          <div class="col s12 l4">
            <mat-form-field>
              <mat-select placeholder="{{'Baby gender' | translate}}" [(ngModel)]="model.gender" name="gender" required>
                <mat-option value="-1">--</mat-option>
                <mat-option value="0">{{'Girl' | translate}}</mat-option>
                <mat-option value="1">{{'Boy' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col s12 l6">
            <mat-form-field>
              <textarea matInput placeholder="{{'Hobby' | translate}}" [(ngModel)]="model.hobby" name="hobby"></textarea>
            </mat-form-field>
          </div>
          <div class="col s12 l6">
            <mat-form-field>
              <textarea matInput placeholder="{{'Additional information' | translate}}" [(ngModel)]="model.info" name="info"></textarea>
            </mat-form-field>
          </div>
          <div class="col s12">
            <label for="photos">{{'Images' | translate}}</label>
            <!-- <amb-image-uploader [(imageNames)]="imageNames"></amb-image-uploader> -->
            <amb-img-uploader [(images)]="model.images"></amb-img-uploader>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <button type="submit" class="btn amb-block" [disabled]="!theForm.form.valid">{{(isNew ? 'Add' : 'Save') | translate}}</button>
          </div>
          <div class="col s12 m6">
            <button class="btn amb-block waves-effect waves-teal" routerLink="/babies">{{'Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
