<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
</div>
<h1>{{isNew ? "Add event site" : "Edit event site"}}</h1>
<form #theForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submitted">
    <div class="container">
      <div class="row">
        <div class="col s12 l4">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="model.name" name="name" required>
          </mat-form-field>
        </div>
        <div class="col s12 l4">
          <label for="address">Address</label>
          <amb-address-input [(address)]="model.location" [showsMap]="false" [useCurrentLocation]="true"></amb-address-input>
        </div>
        <div class="col s12 l4">
          <mat-form-field>
            <textarea matInput placeholder="Additional information" [(ngModel)]="model.info" name="info"></textarea>
          </mat-form-field>
        </div>
        <div class="col s12">
          <label for="photos">Photos</label>
          <amb-image-uploader [(imageNames)]="model.imageNames"></amb-image-uploader>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <button type="submit" class="btn amb-block" [disabled]="!theForm.form.valid">{{isNew ? 'Add' : 'Save'}}</button>
        </div>
        <div class="col s12 m6">
          <button class="btn amb-block" routerLink="/sites">Cancel</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
