<div class="container">
  <h1 class="display-3">{{'Air Mom & Baby' | translate}}</h1>
  <p>{{'AboutUs.CompanyConcept' | translate}}</p>
</div>
<div class="container">
    <hr>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col s12 m4">
        <h2>{{'Air Moms' | translate}}</h2>
        <p>{{'AboutUs.AirMomsDetail' | translate}}</p>
      </div>
      <div class="col s12 m4">
        <h2>{{'Air Babies' | translate}}</h2>
        <p>{{'AboutUs.AirBabiesDetail' | translate}}</p>

      </div>
      <div class="col s12 m4">
        <h2>{{'The Parents' | translate}}</h2>
        <p>{{'AboutUs.TheParentsDetail' | translate}}</p>

      </div>
    </div>
  </div>
