<h1>Add a slot</h1>
<div class="container mt-5">
    <form>
      <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label" required>First name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="inputFirstName" placeholder="First name" [(ngModel)]="model.firstName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label" required>Last name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="inputLastName" placeholder="Last name" [(ngModel)]="model.lastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label" required>Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="inputEmail" placeholder="Email" [(ngModel)]="model.email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <amb-address-input [(address)]="model.address" [showsMap]="true"></amb-address-input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <legend class="col-form-legend">Gender I accept</legend>
        </div>
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" [(ngModel)]="model.gender" value="0"> Girl
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" [(ngModel)]="model.gender" value="1"> Boy
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" [(ngModel)]="model.gender" value="2"> Either
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Age I prefer</label>
        <div class="col-sm-10">
          <label class="form-check-label">
            <input class="form-check-input" name="age" type="checkbox" [(ngModel)]="model.age.a23"> 2-3 years old
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="age" type="checkbox" [(ngModel)]="model.age.a34"> 3-4 years old
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="age" type="checkbox" [(ngModel)]="model.age.a45"> 4-5 years old
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="age" type="checkbox" [(ngModel)]="model.age.a56"> 5-6 years old
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Languages I speak</label>
        <div class="col-sm-10">
          <label class="form-check-label">
            <input class="form-check-input" name="language" type="checkbox"
            [checked]="model.language.english"
            (change)="model.language.english = !model.language.english">
            English
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="language" type="checkbox"
            [checked]="model.language.chinese"
            (change)="model.language.chinese = !model.language.chinese">
            中文
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="language" type="checkbox"
            [checked]="model.language.japanese"
            (change)="model.language.japanese = !model.language.japanese">
            日本語
          </label>
        </div>
      </div>
    </form>
  </div>
  {{model | json}}
