<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
</div>
<form #theForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submitted">
    <div class="container">
      <div class="row">
        <div class="col s12 offset-m2 m8 offset-l4 l4">
          <mat-form-field>
            <input matInput placeholder="{{'Account name' | translate}}" [(ngModel)]="accountName" name="accountName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'Password' | translate}}" [(ngModel)]="password" name="password" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="email" placeholder="{{'Email' | translate}}" [(ngModel)]="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12 offset-m2 m8 offset-l4 l4">
          <button mat-raised-button color="primary" type="submit" mat-raised-button color="primary" class="amb-block" [disabled]="!theForm.form.valid">{{'Sign up' | translate}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 offset-m2 m8 offset-l4 l4">
      <hr>

          <p class="center">{{'Already have an account?' | translate}}
            <a routerLink="/login">{{'Log in' | translate}}</a>
          </p>
        </div>
      </div>
    </div>

  </fieldset>
</form>
