<div class="container">
  <div class="row form-group">
    <label for="date" class="col-2 col-form-label">Date</label>
    <div class="col-10">
      <div class="input-group">
        <input class="form-control" placeholder="Date" required name="dp" [(ngModel)]="model.date" ngbDatepicker #d="ngbDatepicker">
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <label for="date" class="col-2 col-form-label">Time</label>
    <div class="col-10 form-group">
      <ngb-timepicker [(ngModel)]="model.timeCondition.startAt" name="startAt"></ngb-timepicker>
      <ngb-timepicker [(ngModel)]="model.timeCondition.endAt" name="endAt"></ngb-timepicker>
    </div>
  </div>
  <div class="row form-group">
    <label for="ageFrom" class="col-2 col-form-label">Age</label>
    <div class="col-10 form-group">
      <select class="custom-select input-group col-md-3" [(ngModel)]="model.ageCondition.ageFrom" name="ageFrom">
        <option value="-1" disabled selected>From</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">&gt; 6</option>
      </select>
      <select class="custom-select input-group col-md-3" [(ngModel)]="model.ageCondition.ageTo" name="ageTo">
        <option value="-1" disabled selected>To</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">&gt; 6</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <label for="gender" class="col-2 col-form-label">Gender</label>
    <div class="col-10 form-group">
      <select class="custom-select input-group col-md-3" [(ngModel)]="model.genderCondition.gender" name="gender">
        <option value="-1" disabled selected>Gender</option>
        <option value="1">Girl</option>
        <option value="2">Boy</option>
        <option value="0">Either</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <label for="gender" class="col-2 col-form-label">Other conditions</label>
    <div class="col-10 form-group">
      <textarea class="form-control" id="otherCondtion" rows="3" [(ngModel)]="model.otherCondition"></textarea>
    </div>
  </div>

  <div class="row form-group">
    <label for="gender" class="col-2 col-form-label">Price</label>
    <div class="col-10 form-group">
      <input class="form-control" placeholder="Price" required name="price" [(ngModel)]="model.price.fixedUnitPrice">
    </div>
  </div>

  <div class="row form-group">
      <div for="gender" class="col-2 col-form-label"></div>
      <div class="col-10 form-group">
        <button class="btn btn-primary" (click)="create()">Create</button>
      </div>
    </div>
</div>
{{model | json}}
