<amb-header></amb-header>
<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <button type="button" class="close float-right" aria-label="Close" (click)="goBack()">
        <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
      </button>
      <h2 class="text-center">Log in Air & Mom</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <amb-profile-content [profileRole]="profileRole"></amb-profile-content>
    </div>
  </div>
</div>
