<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>
</agm-map> -->

<amb-loading *ngIf="!isMapReady"></amb-loading>
<agm-map *ngIf="isGoogleMapReady" class="amb-search-map" [longitude]="this.latestCenter.lng" [latitude]="this.latestCenter.lat" [zoom]="16"
(centerChange)="mapCenterChange($event)" (idle)="fireIdle($event)">
  <agm-marker *ngFor="let slot of slots; let i = index" [longitude]="slot.location.location.coordinates[0]" [latitude]="slot.location.location.coordinates[1]"
    [label]="(i + 1) + ''">
    <agm-info-window>
      <strong>{{slot.title}}</strong>
      <small>Start: {{slot.start | date:'medium'}}</small>
      <br>
      <a (click)="book(slot);false;">Click to book</a>
    </agm-info-window>
  </agm-marker>
</agm-map>
<ngx-amap *ngIf="isGaodeMapReady" [resizeEnable]="true" class="amb-search-map" [center]="[this.latestCenter.lng, this.latestCenter.lat]" [zoom]="16">
    <amap-marker *ngFor="let slot of slots; let i = index" [position]="slot.location.location.coordinates" [label]="{offset: {x:20, y:0}, content: (i+1).toString()}">
      <amap-info-window [offset]="infoWindowOffset">
        <strong>{{slot.title}}</strong>
        <small>{{'Start'|translate}}: {{slot.start | date:'medium'}}</small>
        <br>
        <a (click)="book(slot);false;">{{'Click to book' | translate}}</a>
      </amap-info-window>
    </amap-marker>
</ngx-amap>
