<router-outlet></router-outlet>
<hr>
<footer class="container">
  <nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Air Mom & Baby Copyright 2017</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="aboutus">About Us</a>
        <a class="nav-item nav-link" href="signup">Sign Up</a>
        <a class="nav-item nav-link" href="login">Sign In</a>
        <select class="custom-select">
          <option value="0">English</option>
          <option value="1">中文（简体）</option>
          <option value="2">日本語</option>
        </select>
      </div>
    </div>
  </nav>
</footer>
