<ng-container class="amb-outer-container">
  <mat-toolbar color="primary" [ngClass]="{'red': isProvider, 'lighten-2': isProvider}" class="amb-header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="white-text" (click)="sidenav.close()">{{'Air Mom & Baby' | translate}}
      <small>{{isProvider ? " - " : ""}}{{(isProvider ? "provider" : "") | translate}}</small>
    </a>
    <div style="width:100%">
      <small class="right" *ngIf="accountName">{{accountName}}</small>
      <small class="right" *ngIf="!accountName">
        <a routerLink="/login" class="white-text" (click)="sidenav.close()">{{'Log in' | translate}}</a></small>
    </div>
  </mat-toolbar>


  <mat-sidenav-container class="amb-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #sidenav opened="false" class="amb-sidenav"
                 [mode]="mobileQuery.matches ? 'over' : 'push'"
                 [fixedInViewport]="mobileQuery.matches"
                 [fixedTopGap]="56" [fixedBottomGap]="0">
      <amb-header style="width:100%;" (click)="sidenav.close()"></amb-header>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options" class="amb-sidenav-content">
      <!-- <div color="primary">
          <amb-notification></amb-notification>
        </div> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-toolbar color="primary" class="amb-footer">
    <p><small>Copyright 2018</small></p>
  </mat-toolbar> -->
</ng-container>

