<ng-container class="amb-outer-container">
  <mat-toolbar [color]="isProvider ? 'accent' : 'primary'" class="white-text amb-header">
    <button mat-icon-button class="amb-toggle-menu" (click)="sidenav.toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <span class="amb-provider white-text" *ngIf="isProvider">{{'provider' | translate}}</span>    
    <a routerLink="/" class="white-text" (click)="sidenav.close()">{{'Air Mom & Baby' | translate}}
    </a>
    <div style="width:100%">
      <small class="right amb-account-name" *ngIf="hasLoggedIn">{{accountName}}</small>
      <small class="right" *ngIf="!hasLoggedIn">
        <a routerLink="/login" class="white-text" (click)="sidenav.close()">{{'Log in' | translate}}</a></small>
    </div>
  </mat-toolbar>


  <mat-sidenav-container class="amb-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #sidenav opened="false" class="amb-sidenav"
                 [mode]="mobileQuery.matches ? 'over' : 'push'"
                 [fixedInViewport]="mobileQuery.matches"
                 [fixedTopGap]="56" [fixedBottomGap]="0">
      <amb-header style="width:100%;" (click)="sidenav.close()"></amb-header>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options" class="amb-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-toolbar color="primary" class="amb-footer">
    <p><small>Copyright 2018</small></p>
  </mat-toolbar> -->
</ng-container>

