
.mat-dialog-content {
  max-height: none !important;
}

.amb-event-photos{
  margin-left: -24px;
  margin-right: -24px;
  line-height: 0;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
}
