<div class="row" (click)="close()">
  <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
</div>
<h1 mat-dialog-title>{{slot.title}}</h1>
<mat-dialog-content>
  <div class="row" *ngIf="slot.images && slot.images.length">
    <img class="col s12" *ngFor="let image of slot.images" [src]="image" alt="Photo of event" style="width:100%;">
  </div>
  <div class="row">

    <p class="blue-grey-text darken-4">
      {{slot.location.address}}
    </p>
    <p>
      <strong>{{slot.title}}</strong>
    </p>
    <p class="grey-text">
      {{displayTime(slot.date, slot.timeFrom) | date:'short'}} - {{displayTime(slot.date, slot.timeTo) | date:'shortTime'}}
    </p>
    <p class="grey-text">
      {{slot.price | currency}}
      <strong>{{"Gender:" | translate}}</strong> {{displayGender(slot.gender) | translate}}
      <strong>{{"Age:" | translate}}</strong> {{slot.ageFrom}} - {{slot.ageTo}}
    </p>
    <p>
      <span class="amber-text accent-4">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      {{slot.bookingCount}} / {{slot.capping}}
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light amb-block" (click)="book()">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        {{'Book' | translate}}
      </button>
    </div>
  </div>
</mat-dialog-actions>
