<mat-dialog-content>
  <div class="row" (click)="close()" cdk-focus-region-start>
    <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
  </div>

  <ngx-carousel class="amb-event-photos" [inputs]="carouselOne" *ngIf="slot.images && slot.images.length">
    <ngx-item NgxCarouselItem *ngFor="let image of slot.images" >
      <img [src]="image" alt="Photo of event" style="width:100%;">
    </ngx-item>
    <button mat-fab color="primary" NgxCarouselPrev class='leftRs'>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <button mat-fab color="primary" NgxCarouselNext class='rightRs'>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </ngx-carousel>

  <div class="row">
    <h5>{{slot.title}}</h5>
    <p class="blue-grey-text darken-4">
      {{slot.location.address}}
    </p>
    <hr>
    <p>
      {{displayTime(slot.date, slot.timeFrom) | date:'short'}} - {{displayTime(slot.date, slot.timeTo) | date:'shortTime'}}
    </p>
    <p>
      <strong>{{"Gender:" | translate}}</strong> {{displayGender(slot.gender) | translate}}
      <strong>{{"Age:" | translate}}</strong> {{slot.ageFrom}} - {{slot.ageTo}}
    </p>
    <p>{{slot.price | currency}}</p>
    <p>
      <span class="amber-text accent-4">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      {{slot.bookingCount}} / {{slot.capping}}
    </p>
  </div>
  <div class="row">
    <div class="col s12">
      <button mat-raised-button color="primary" class="btn waves-effect waves-light amb-block" (click)="book()">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        {{'Book' | translate}}
      </button>
    </div>
  </div>
</mat-dialog-content>
