<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
</div>
<form #theForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submitted">


    <mat-form-field>
      <input matInput placeholder="First name" [(ngModel)]="model.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" [(ngModel)]="model.lastName" name="lastName">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of birth" [(ngModel)]="model.dob" name="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="custom-select input-group" [(ngModel)]="model.gender" name="gender">
        <option value="-1" disabled selected>Age</option>
        <option value="0">Female</option>
        <option value="1">Male</option>
      </select>
    </div>
    <!-- Provider specific starts -->
    <div class="form-group" *ngIf="profileRole==='provider'">
      <label for="address">Address</label>
      <amb-address-input [(address)]="model.location" [showsMap]="false"></amb-address-input>
    </div>
    <div class="form-group" *ngIf="profileRole==='provider'">
      <label for="description">Description</label>
      <input type="text" class="form-control form-group" placeholder="Description" id="description" required [(ngModel)]="model.description"
        name="description">
    </div>
    <div class="form-group" *ngIf="profileRole==='provider'">
      <label for="photos">Photos</label>
      <!-- https://aberezkin.github.io/ng2-image-upload/#/readme -->
      <image-upload [max]="10" [url]="uploadApiUrl" [preview]="true" [uploadedFiles]="model.imageNames" (uploadFinished)="onUploadFinished($event)">
      </image-upload>
      {{model.imageNames}}
    </div>
    <!-- Provider specific ends -->
    <div class="form-group">
      <label class="col-sm-2">Languages I speak</label>
      <div class="col-sm-10">
        <label class="form-check-label">
          <input class="form-check-input" name="language" type="checkbox" [checked]="model.language.english" (change)="model.language.english = !model.language.english"> English
        </label>
        <label class="form-check-label">
          <input class="form-check-input" name="language" type="checkbox" [checked]="model.language.chinese" (change)="model.language.chinese = !model.language.chinese"> 中文
        </label>
        <label class="form-check-label">
          <input class="form-check-input" name="language" type="checkbox" [checked]="model.language.japanese" (change)="model.language.japanese = !model.language.japanese"> 日本語
        </label>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success form-group btn-block right-align" [disabled]="!theForm.form.valid">Save</button>
    </div>
    <hr>
    <p class="center-align">Already have an ccount?
      <a href (click)="login()">Login</a>
    </p>
  </fieldset>
</form>
