<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
</div>
<form #theForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submitted">
    <div class="col s12 m6">
      <mat-form-field>
        <input matInput placeholder="First name" [(ngModel)]="model.firstName" name="firstName">
      </mat-form-field>
    </div>
    <div class="col s12 m6">
      <mat-form-field>
        <input matInput placeholder="Last name" [(ngModel)]="model.lastName" name="lastName">
      </mat-form-field>
    </div>

    <div class="col s12 m6">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" [(ngModel)]="model.dob" name="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col s12 m6">
      <mat-form-field>
        <mat-select placeholder="Gender" [(ngModel)]="model.gender" name="gender">
          <mat-option value="-1">--</mat-option>
          <mat-option value="0">Female</mat-option>
          <mat-option value="1">Male</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Provider specific starts -->
    <div class="form-group" *ngIf="profileRole==='provider'">
      <label for="address">Address</label>
      <amb-address-input [(address)]="model.location" [showsMap]="false" [useCurrentLocation]="false"></amb-address-input>
    </div>
    <div class="col s12">
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description"></textarea>
        </mat-form-field>
      </div>
    <div class="form-group" *ngIf="profileRole==='provider'">
      <label for="photos">Photos</label>
      <amb-image-uploader [(imageNames)]="model.imageNames" (uploadFinished)="onUploadFinishedForLoader($event)"></amb-image-uploader>
    </div>
    <!-- Provider specific ends -->
    <div class="row">
      <label class="col-sm-2">Languages I speak</label>
      <div class="col s12">
          <mat-checkbox>English</mat-checkbox>
          <mat-checkbox>中文</mat-checkbox>
          <mat-checkbox>日本語</mat-checkbox>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success form-group btn-block right-align" [disabled]="!theForm.form.valid">Save</button>
    </div>
    <hr>
    <p class="center-align">Already have an ccount?
      <a href (click)="login()">Login</a>
    </p>
  </fieldset>
</form>
