<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Time</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Notice</th>
        <th>Price</th>
        <th>Booked by</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.slot.title}}</td>
        <td>{{item.slot.start | date:'short'}} - {{item.slot.end | date:'short'}}</td>
        <td>{{item.slot.ageFrom}} - {{item.slot.ageTo}}</td>
        <td>{{displayGender(item.slot.gender)}}</td>
        <td>{{item.slot.otherCondition}}</td>
        <td *ngIf="!item.slot.price">Free event</td>
        <td *ngIf="item.slot.price">{{item.slot.price | currency}}</td>
        <td>{{item.baby.nickName}}</td>
        <td>
          <a href (click)="cancel(item.booking)">
            <i class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
