<div class="container">
<h1>{{'Baby management' | translate}}</h1>
<div class="row">
    <div class="col s12 l3">
      <button class="btn amb-block" routerLink="/babies/add">
        {{'Add new baby' | translate}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6" *ngFor="let baby of babies">
      <div class="card small" (click)="edit(baby)">
        <div class="card-stacked">
          <div class="card-content">
            <div>
              <img class="amb-baby-avatar" *ngIf="baby.images && baby.images.length" [src]="baby.images[0]" alt="Baby's photo">
              <p class="card-title activator grey-text text-darken-4 right">{{baby.nickName}}
              <br><small class="right">{{baby.dob | date:'mediumDate' }} {{displayGender(baby) | translate}}</small></p>
            </div>

            <div *ngIf="baby.hobby">
              <label>{{'Hobby' | translate}}</label>
              <p>
                {{baby.hobby}}
              </p>
            </div>
            <div *ngIf="baby.info">
              <label>{{'Additional information' | translate}}</label>
              <p>
                {{baby.info}}
              </p>
            </div>
          </div>
          <div class="card-action">
            <button mat-button (click)="edit(baby)">
              <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> {{'Edit' | translate}}
            </button>
            <button mat-button (click)="delete(baby)">
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i> {{'Delete' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
