<span>
    <input [accept]="accept" type="file" capture [imageToDataUrl]="options" (imageSelected)="selected($event)" #inputFile hidden />
    <button mat-raised-button color="primary" class="btn waves-effect waves-light amb-block" md-raised-button (click)="selectFile()">
        <i class="fa fa-camera" aria-hidden="true"></i>
        {{'Take a photo' | translate}}
        <!-- <span *ngIf="fileCount">
            <span>{{fileCount}}</span>
            <ng-content select=".selected"></ng-content>
        </span> -->
    </button>
</span>
