<div class="jumbotron">
  <div class="container">
    <h2 class="text-white">Register an account in Air Mom & Baby</h2>
    <div class="row">
      <div class="card transparent-card col-md-6">
        <div class="card-block">
          <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
            <fieldset [disabled]="submitted">
              <div class="form-group">
                <label for="name">Account Name</label>
                <input type="text" class="form-control" placeholder="account name" id="name" required [(ngModel)]="model.name" name="name">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="password" id="password" required [(ngModel)]="model.secret" name="password">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="email@example.com" id="email" required [(ngModel)]="model.email" name="email">
              </div>

              <div class="form-group">
                <label for="accountType">Account Type</label>
                <select class="form-control" id="accountType" required [(ngModel)]="model.type" name="accountType">
                  <option value="null" disabled selected>Select an account type</option>
                  <option value="provider">Provider</option>
                  <option value="consumer">Consumer</option>
                </select>
              </div>

              <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Submit</button>
              <button type="submit" class="btn btn-danger" (click)="signupForm.reset()">Clear</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
