<!-- Map -->
<div class="" *ngIf="!showsAdvancedSearch">
  <div class="row amb-search-map">
    <amb-loading *ngIf="!searchResultSlots"></amb-loading>
    <div *ngIf="searchResultSlots">
      <amb-map-search [slots]="searchResultSlots" [center]="mapCenter" (centerChange)="mapCenterChange($event)"></amb-map-search>
      <div class="button-map-filter">
        <button class="btn amb-block" (click)="showsAdvancedSearch = true">
          <i class="fa fa-sliders" aria-hidden="true"></i>
          {{'Filter' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Advanced search panel -->
<div class="" *ngIf="showsAdvancedSearch">
  <h5>{{'Search events' | translate}}</h5>
  <div class="row">
    <div class="col s12">
      <amb-address-input [(address)]="searchModel.location"></amb-address-input>
    </div>
    <div class="col s4">
      <mat-form-field>
        <mat-select placeholder="{{'Distance' | translate}}" [(ngModel)]="searchModel.distance" name="distance">
          <mat-option value="0">--</mat-option>
          <mat-option value="1">1 {{'km' | translate}}</mat-option>
          <mat-option value="2">2 {{'km' | translate}}</mat-option>
          <mat-option value="5">5 {{'km' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s4">
      <amb-select placeholder="{{'Baby age' | translate}}" [(value)]="searchModel.age" [options]="ageOptions"></amb-select>
    </div>
    <div class="col s4">
      <mat-form-field>
        <mat-select placeholder="{{'Baby gender' | translate}}" [(ngModel)]="searchModel.gender" name="gender">
          <mat-option value="-1">--</mat-option>
          <mat-option value="0">{{'Girl' | translate}}</mat-option>
          <mat-option value="1">{{'Boy' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input matInput type="date" placeholder="{{'Choose a date' | translate}}" [(ngModel)]="searchModel.date" name="date">
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input matInput type="time" step="1800" min="06:00" max="18:00" placeholder="{{'Starting time' | translate}}" [(ngModel)]="searchModel.timeFrom"
          name="timeFrom">
      </mat-form-field>
    </div>
    <div class="col s4">
      <mat-form-field>
        <input matInput type="time" step="1800" min="08:00" max="20:00" placeholder="{{'Ending time' | translate}}" [(ngModel)]="searchModel.timeTo"
          name="timeTo">
      </mat-form-field>
    </div>
    <div class="row amb-col-interval">
      <div class="col s12 m6">
        <button class="btn waves-effect waves-light amb-block" (click)="showsAdvancedSearch = false;search()">
          <i class="fa fa-search" aria-hidden="true"></i>
          {{'Search' | translate}}
        </button>
      </div>
      <div class="col s12 m6">
        <button class="btn waves-effect waves-light amb-block" (click)="showsAdvancedSearch = false;">
          <i class="fa fa-search" aria-hidden="true"></i>
          {{'Show map' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Search result-->
<div class="" *ngIf="hasSearchQuery">
  <h5>{{'Search result' | translate}} <small *ngIf="searchResultSlots">{{'Found:' | translate}} {{searchResultSlots.length}}</small></h5>
  <amb-loading *ngIf="!searchResultSlots"></amb-loading>
  <div class="row" *ngIf="searchResultSlots">
    <div class="col s6 m4 l3" *ngFor="let slot of searchResultSlots">
      <amb-event-card [slot]="slot" (click)="book(slot)"></amb-event-card>
    </div>
  </div>
</div>

<!-- Recommended-->
<div class="">
  <h5>{{'Recommended' | translate}}</h5>
  <amb-loading *ngIf="!recommendedSlots"></amb-loading>
  <div class="row" *ngIf="recommendedSlots">
    <div class="col s6 m4 l3" *ngFor="let slot of recommendedSlots">
      <amb-event-card [slot]="slot" (click)="book(slot)"></amb-event-card>
    </div>
  </div>
</div>
