<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
</div>
<form #theForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submitted">
    <div class="form-group">
      <label for="nickName">Nick name</label>
      <input type="text" class="form-control form-group" placeholder="First name" id="nickName" required [(ngModel)]="model.nickName"
        name="nickName">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control form-group" placeholder="Age" id="age" required [(ngModel)]="model.age" name="age">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="custom-select input-group" [(ngModel)]="model.gender" name="gender">
        <option value="-1" disabled selected>Gender</option>
        <option value="0">Female</option>
        <option value="1">Male</option>
      </select>
    </div>
    <div class="form-group">
      <label for="hobby">Hobby</label>
      <textarea class="form-control" id="hobby" name="hobby" rows="5" placeholder="The baby's hobby?" [(ngModel)]="model.hobby"></textarea>
    </div>
    <div class="form-group">
      <label for="info">Additional information</label>
      <textarea class="form-control" id="info" name="info" rows="5" placeholder="Additional you want to let us know" [(ngModel)]="model.info"></textarea>
    </div>
    <hr>
    <div class="form-group">
      <button type="submit" class="btn btn-success form-group btn-block" [disabled]="!theForm.form.valid">Save</button>
    </div>
  </fieldset>
</form>
