<div class="modal-header">
  <h4 class="modal-title" *ngIf="title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <amb-login-content *ngIf="mode === 'login'"></amb-login-content>
  <amb-signup-content *ngIf="mode === 'signup'"></amb-signup-content>
  <amb-profile-content *ngIf="mode === 'providerProfile'"></amb-profile-content>
  <amb-slot *ngIf="mode === 'addslot'"></amb-slot>
  <amb-baby-content *ngIf="mode === 'addbaby'"></amb-baby-content>
</div>
