<div class="container">
  <h1>
    {{'Booking transaction' | translate}}
  </h1>
  <amb-loading *ngIf="!booking"></amb-loading>
  <div *ngIf="booking">
    <amb-baby-avatar class="left" [baby]="baby"></amb-baby-avatar>

    <mat-vertical-stepper *ngIf="!isComplete" #stepper [linear]="true">
        <!-- <mat-vertical-stepper #stepper [linear]="true"> -->
      <mat-step>
        <!-- Consumer check-in step -->
        <ng-template matStepLabel>
          <i class="fa fa-sign-in" aria-hidden="true"></i> {{'CheckInByConsumerMessage' | translate}}
        </ng-template>
        <div *ngIf="booking.consumerCheckInImage">
          <div class="image-time">{{booking.consumerCheckInAt | date:'medium'}}</div>
          <img class="z-depth-3 confirm-image" [src]="booking.consumerCheckInImage">
        </div>
        <div *ngIf="!booking.consumerCheckInImage">
          <p>{{'CheckInByConsumerWaitingMessage' | translate}}</p>
          <amb-take-photo *ngIf="session.isConsumer" [autoPopup]="true" (uploaded)="consumerCheckIn($event)"></amb-take-photo>
        </div>
      </mat-step>
      <mat-step>
        <!-- Provider check-in confirm step -->
        <ng-template matStepLabel>
          <i class="fa fa-check-square-o" aria-hidden="true"></i> {{'CheckInConfirmByProviderMessage' | translate}}
        </ng-template>
        <div *ngIf="booking.providerCheckInImage">
          <div class="image-time">{{booking.providerCheckInAt | date:'medium'}}</div>
          <img class="z-depth-3 confirm-image" [src]="booking.providerCheckInImage">
        </div>
        <div *ngIf="!booking.providerCheckInImage">
          <p>{{'CheckInConfirmByProviderWaitingMessage' | translate}}</p>
          <amb-take-photo *ngIf="session.isProvider" (uploaded)="providerCheckIn($event)"></amb-take-photo>
        </div>
      </mat-step>
      <mat-step>
        <!-- Consumer check-out step -->
        <ng-template matStepLabel>
          <i class="fa fa-sign-out" aria-hidden="true"></i> {{'CheckOutByConsumerMessage' | translate}}
        </ng-template>
        <div *ngIf="booking.consumerCheckOutImage">
          <div class="image-time">{{booking.consumerCheckOutAt | date:'medium'}}</div>
          <img class="z-depth-3 confirm-image" [src]="booking.consumerCheckOutImage">
        </div>
        <div *ngIf="!booking.consumerCheckOutImage">
          <p>{{'CheckOutByConsumerWaitingMessage' | translate}}</p>
          <amb-take-photo *ngIf="session.isConsumer" (uploaded)="consumerCheckOut($event)"></amb-take-photo>
        </div>
      </mat-step>
      <mat-step>
        <!-- Provider check-out confirm -->
        <ng-template matStepLabel>
          <i class="fa fa-check-square-o" aria-hidden="true"></i> {{'CheckOutConfirmByProviderMessage' | translate}}
        </ng-template>
        <div *ngIf="booking.providerCheckOutImage">
          <div class="image-time">{{booking.providerCheckOutAt | date:'medium'}}</div>
          <img class="z-depth-3 confirm-image" [src]="booking.providerCheckOutImage">
        </div>
        <div *ngIf="!booking.providerCheckOutImage">
          <p>{{'CheckOutConfirmByProviderWaitingMessage' | translate}}</p>
          <amb-take-photo *ngIf="session.isProvider" (uploaded)="providerCheckOut($event)"></amb-take-photo>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <div *ngIf="isComplete">
      <h3>{{'TransactionDone' | translate}}</h3>
      <label>{{'Started at' | translate}}</label>
      <p>{{booking.startedAt | date:'medium'}}</p>
      <label>{{'Finished at' | translate}}</label>
      <p>{{booking.finishedAt | date:'medium'}}</p>
      <label>{{'Total time' | translate}}</label>
      <p>{{getTransactionTimeString()}}</p>
      <div>
        <a matButton class="btn waves-effect waves-light amb-block" routerLink="/">OK</a>
      </div>
    </div>
  </div>
</div>
