<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="row">
    <div class="col s12">
      <amb-address-input class="btn-block" [(address)]="model.location" [showsMap]="false"></amb-address-input>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <mat-form-field>
        <mat-select placeholder="Distance" [(ngModel)]="model.distance" name="distance">
          <mat-option value="0">--</mat-option>
          <mat-option value="1">1 km</mat-option>
          <mat-option value="2">2 km</mat-option>
          <mat-option value="5">5 km</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s12 m4">
        <amb-select placeholder="Baby age" [(value)]="model.age" [options]="ageOptions"></amb-select>
    </div>
    <div class="col s12 m4">
      <mat-form-field>
        <mat-select placeholder="Baby gender" [(ngModel)]="model.gender" name="gender">
          <mat-option value="-1">--</mat-option>
          <mat-option value="0">Girl</mat-option>
          <mat-option value="1">Boy</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col s12 m4">
        <amb-datepicker placeholder="Choose a date" [(value)]="model.date"></amb-datepicker>
    </div>
    <div class="col s12 m4">
      <amb-timepicker [min]="6" [max]="18" placeholder="Starting time" [(value)]="model.timeFrom"></amb-timepicker>
    </div>
    <div class="col s12 m4">
      <amb-timepicker [min]="8" [max]="20" placeholder="Ending time" [(value)]="model.timeTo"></amb-timepicker>
    </div>
  </div>

  <div class="row">
    <div class="col s12 right-align">
      <button class="btn waves-effect waves-light amb-block" (click)="search()">Search</button>
    </div>
  </div>
</div>
<!-- <amb-map-search></amb-map-search> -->
