

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-white">Air Mom & Baby</h1>
    <p>Discover flexible and lovely childcare services for your baby! <a href="login">Register as an Air Mom</a> or <a href="signup">sign up</a> to find a service for your babies.</p>
    <div class="row">
      <div class="card transparent-card col-md-6">
        <div class="card-block">
          <form class="container">
            <div class="row form-group">
              <input class="form-control col-md-12" type="text" placeholder="Location">
            </div>
            <div class="row form-group">
              <select class="custom-select col-md-7">
                <option value="-1" disabled selected>Select age range</option>
                <option value="0">0-1</option>
                <option value="1">1-2</option>
                <option value="2">2-3</option>
                <option value="3">3-4</option>
                <option value="3">4-5</option>
                <option value="3">5-6</option>
                <option value="3">&gt; 6</option>
              </select>
              <div class="col-md-1"></div>
              <select class="custom-select col-md-4">
                <option value="0" disabled selected>Select gender</option>
                <option value="1">Boy</option>
                <option value="2">Girl</option>
              </select>
            </div>
            <div class="row form-group">
              <button class="btn btn-success col-md-12 btn-block" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Air Moms</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>The Children</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>The Moms</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
        semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
  </div>
</div>
