<div *ngIf="!isComplete" class="container">
  <h1>{{'Booking'|translate}}</h1>
  <mat-vertical-stepper #stepper [linear]="true">
    <mat-step>
      <form>
        <ng-template matStepLabel>
          <i class="fa fa-child" aria-hidden="true"></i> {{'Choose baby'|translate}}
        </ng-template>
        <mat-form-field>
          <mat-select placeholder="{{'Select baby'|translate}}" [(ngModel)]="theBaby" name="baby" required (ngModelChange)="goForward(stepper)">
            <mat-option routerLink="/babies/add">{{'Add new baby'|translate}}</mat-option>
            <mat-option *ngFor="let baby of babies" [value]="baby">
              {{baby.nickName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step *ngIf="!isFreeEvent">
      <form>
        <ng-template matStepLabel>
          <i class="fa fa-credit-card" aria-hidden="true"></i> {{'Payment method'|translate}}
        </ng-template>
        <p>{{'Fake payment'|translate}}</p>
        <mat-form-field>
          <input matInput placeholder="{{'Card number'|translate}}" required>
        </mat-form-field>
        <div>
          <button  mat-raised-button color="primary" class="btn waves-effect waves-light amb-block" (click)="goForward(stepper)">{{'OK'|translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> {{'Confirm booking'|translate}}
      </ng-template>
      <div>
          <button  mat-raised-button color="primary" class="btn waves-effect waves-light amb-block" (click)="onSubmit()">{{'Book this event'|translate}}</button>
        </div>
      <div>
        <p *ngIf="slot">{{'Price'|translate}}: {{slot.price}}</p>
        <p *ngIf="theBaby">{{'Nick name'|translate}}: {{theBaby.nickName}}</p>
        <p>
          <strong>{{'Confirm the event content and click to book.'| translate}}</strong>
        </p>
      </div>

      <div>
        <amb-slot-display [slot]="slot"></amb-slot-display>
      </div>

    </mat-step>
  </mat-vertical-stepper>
</div>

<div class="container" *ngIf="isComplete">
  <h1>{{'Thank you for your booking!'|translate}}</h1>
  <p>{{'You can find your booking'|translate}}
      <i class="fa fa-external-link" aria-hidden="true"></i><a href="{{bookingLink}}" target="blank">{{bookingLink}}</a>
  </p>
  <div>
    <a matButton class="btn waves-effect waves-light amb-block" routerLink="/">{{'OK'|translate}}</a>
  </div>
</div>
